<form (ngSubmit)="onSubmit()">
    <input (input)="onInput($event)" type="text" placeholder="Recipe Name" required>
    <textarea (input)="onTextareaInput($event)" placeholder="Recipe Description" required></textarea>
    <select (change)="onSelectChange($event)" required>
        <option value="easy">Easy</option>
        <option value="medium">Medium</option>
        <option value="hard">Hard</option>
    </select>
    <button>Add Recipe</button>
</form>

<button>obama</button>

   
   
   
   
   
   
   
   
   