<div class="container">
    <div class="row">
      <!-- Side navigation -->
      <div class="col-md-3">
        <div class="sidebar-sticky">
          <div class="text-center mb-3">
            <!-- Image upload and username -->
            <div class="mb-3">
              <img src="/assets/user.png" class="img-fluid rounded-circle" alt="Profile">
              
            </div>
            <h3 class="h3 mb-0"><strong>userName</strong></h3>
            <hr>
          </div>
          <!-- Navigation links -->
          <ul class="nav flex-column">
            <li class="nav-item"><a class="nav-link active" href="#">Personal Info</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Newsletter Preferences</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Saved Items</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Recipes</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Reviews</a></li>
          </ul>
        </div>
      </div>
