<div class="container">
    <div class="row">
      <!-- Side navigation -->
      <div class="col-md-3">
        <div class="sidebar-sticky">
          <div class="text-center mb-3">
            <!-- Image upload and username -->
            <div class="mb-3">
              <img src="/assets/user.png" class="img-fluid rounded-circle" alt="Profile">
              
            </div>
            <h3 class="h3 mb-0"><strong>userName</strong></h3>
            <hr>
          </div>
          <!-- Navigation links -->
          <ul class="nav flex-column">
            <li class="nav-item"><a class="nav-link" routerLink="personal">Personal Info</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="newsletter">Newsletter Preferences</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="saved">Saved Items</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="myrecipes">Recipes</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="reviews">Reviews</a></li>
          </ul>
        </div>
      </div>

  <!-- Main Body -->
<div class="col-md-9">
  <router-outlet></router-outlet>
</div>