body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

header {
  background-color: #ffdb58;
  padding: 40px;
  border-radius: 10px 10px 0 0;
  margin-bottom: 20px;
  text-align: center;
}

header h1 {
  color: #333;
  font-size: 48px;
  margin-bottom: 10px;
}

header p {
  color: #666;
  font-size: 18px;
}

.small-recipe-cards {
  display: flex;
  justify-content: space-between;
}

.recipe-card-small {
  flex: 0 0 calc(30% - 20px);
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: transform 0.3s;
  margin-bottom: 20px;
}

.recipe-card-small:hover {
  transform: scale(1.03);
}

.recipe-card-small img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.recipe-card-small h3 {
  color: #333;
  font-size: 20px;
  margin-top: 10px;
}

.recipe-card-small p {
  color: #666;
  margin-top: 10px;
  line-height: 1.5;
}

.recipe-card-small a {
  display: block;
  background-color: #4caf50;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.recipe-card-small a:hover {
  background-color: #45a049;
}

.site-description {
  margin-top: 40px;
}

.site-description h2 {
  color: #333;
  font-size: 28px;
  margin-bottom: 20px;
}

.site-description p {
  color: #777;
  line-height: 1.6;
}

.faq {
  margin-top: 40px;
}

.faq h2 {
  color: #333;
  font-size: 28px;
  margin-bottom: 20px;
}

.faq dl {
  margin: 0;
}

.faq dt {
  color: #333;
  font-weight: bold;
  margin-top: 10px;
  font-size: 18px;
}

.faq dd {
  color: #666;
  margin-bottom: 20px;
}

footer {
  margin-top: 40px;
  background-color: #333;
  padding: 20px;
  border-radius: 0 0 10px 10px;
  color: #fff;
  text-align: center;
}

footer p {
  margin: 0;
  font-size: 14px;
}
